<div id="controls" data-robot-id="<%= @robot %>">
  <div class="row">
    <div class="col-sm-12 text-center"><h1><%= @robot.upcase %></h1><br></div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div id="forward" class="btn btn-default btn-lg">↑</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div id="left" class="btn btn-default btn-lg">←</div>
      <div id="stop" class="btn btn-default btn-lg">S</div>
      <div id="right" class="btn btn-default btn-lg">→</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div id="back" class="btn btn-default btn-lg">↓</div>
    </div>
  </div>
</div>
